{% extends 'shop/base.html' %}
{% block title %}Thank you{% endblock %}
{% block content %}
<h1>Thank you</h1>
<p>Your order has been successfully completed. Your order number is <strong>{{ order.id }}</strong></p>
{% endblock %}
